* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(99, 91, 91);
    height: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.logo {}

.menu li {

    margin: 0 10px;
    border-radius: 50%;
    border: gray 1px solid;
    padding: 10px;
    list-style: none;
    transition: all 0.2s;
}

.menu li:hover {
    text-decoration: underline;
    cursor: pointer;
    background: orange;
}


.container {
    margin: 0 auto;
    max-width: 1150px;
    /* padding: 20px 15px; */
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.gal {

    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: .5;
    /* outline: 200px solid rgba(255, 200, 200, .5);
    outline-offset: -1200px; */
}

body {
    background: lightyellow;
}

img {
    object-fit: cover;
    border: gray 3px solid;
    width: 50%;

}

.gal:hover {
    opacity: 1;
    outline: 10px solid rgba(151, 111, 137, 0.5);
    outline-offset: -10px;
    box-shadow: 0 0 0 0 gray inset;
}

.gallery-container {
    display: grid;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

}



.image-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.image-container img {
    position: absolute;
    width: inherit;
    height: inherit;
}

.preloader,
.placeholder {
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



footer {
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    text-align: center;
    padding: 20px;
    background: rgb(99, 91, 91);
    font-size: 20px;
}


@media(max-width: 800px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media(max-width: 525px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }
}