img {
  object-fit: contain;
}

.add {
  padding: 20px;
  border: 1px solid lightblue;
  background: rgb(49, 49, 184);
  transition: all .2s;
}

.remove {
  background: gray;
  padding: 10px;
  border-radius: 10%;
  text-decoration: none;
}

.add:hover {
  border-radius: 50%;
  border: 2px green solid;

}

.add:focus {
  border-radius: 50%;
  outline: none;
}

.gallery-container {
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.image-container img {
  position: absolute;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.preloader,
.placeholder {
  position: absolute;
  width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.15s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.15s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  margin-left: 5px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.preview-container {
  text-align: center;
  transition: all 0.15s ease;
}

.preview-container img {
  vertical-align: middle;
  width: 20%;
  cursor: pointer;
}

.preview-container a {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

p:empty:before {
  content: ' ';
  white-space: pre;
}